div {
  position: relative;
  margin: 0 auto;
  width: 500px;
}

.row {
  display: block;
  position: relative;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.cell {
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  background-color: grey;
  border-top: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.row :first-child {
  border-left: 1px solid black;
}

.board .row:last-child .cell {
  border-bottom: 1px solid black;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
